@model PlacementManagement.Web.ViewModels.StudentDetailViewModel

@{
    ViewBag.Title = "Student Details";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";

    int? StudentId = null;
    if (Model != null)
    {
        StudentId = Model.Student.StudentId;
    }
}

@Html.Partial("_StudentSearchPartial", new ViewDataDictionary
{
    { "Title", ViewBag.Title },
    { "ActionUrl", "/Student/Details" },
    { "StudentId", StudentId },
    { "ErrorMessage", ViewBag.ErrorMessage }
})

@if (Model != null)
{
    <div>

        <div class="mb-3">
            <strong>Full name</strong>
            <div>
                @Html.DisplayFor(model => model.Student.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.DisplayFor(model => model.Student.LastName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <p class="text-uppercase text-muted mt-4">Basic Information</p>

        <div class="mb-3">
            <strong>Gender</strong>
            <div>
                @Html.DisplayFor(model => model.Student.Gender, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="mb-3">
            <strong>Birthday</strong>
            <div>
                @Html.DisplayFor(model => model.Student.DateOfBirth, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <p class="text-uppercase text-muted mt-4">Contact Information</p>

        <div class="mb-3">
            <strong>Phone number</strong>
            <div>
                @Html.DisplayFor(model => model.Student.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="mb-3">
            <strong>Email</strong>
            <div>
                @Html.DisplayFor(model => model.Student.Email, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="mb-3">
            <strong>Address</strong>
            <div>
                @Html.DisplayFor(model => model.Student.Address, new { htmlAttributes = new { @class = "form-control" } }),
                @Html.DisplayFor(model => model.Student.City, new { htmlAttributes = new { @class = "form-control" } }),
                @Html.DisplayFor(model => model.Student.State, new { htmlAttributes = new { @class = "form-control" } }),
                @Html.DisplayFor(model => model.Student.Country, new { htmlAttributes = new { @class = "form-control" } }) -
                @Html.DisplayFor(model => model.Student.PostalCode, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="mb-3">
            <strong>Aadhaar</strong>
            <div>
                @Html.DisplayFor(model => model.Student.Aadhaar, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <a href="@Url.Action("Update", new { studentId = StudentId })" class="btn btn-info btn-sm">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            Update Details
        </a>
    </div>

    <hr />
    <h5>Student Skills</h5>

    <div class="flex-wrap">
        @foreach (var skill in Model.StudentSkills)
        {
            <span class="badge badge-pill p-3 badge-primary mr-2 mb-2" style="font-size: 0.8rem">@skill.SkillName</span>
        }
    </div>

    <hr />

    <div class="d-flex justify-content-between align-items-center mb-2">
        <h4>Enrolled Programs</h4>
        <a href="@Url.Action("Index", "StudentPrograms", new { studentId = StudentId })" class="btn btn-info btn-sm">
            <i class="fa fa-cogs" aria-hidden="true"></i>
            Manage Programs
        </a>
    </div>

    <table class="table table-striped table-hover">
        <tr>
            <th>
                Program
            </th>
            <th>
                Batch Start Year
            </th>
            <th>
                Batch End Year
            </th>
            <th>
                Backlogs
            </th>
            <th>
                Current CGPA
            </th>
        </tr>

        @foreach (var item in Model.StudentPrograms)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProgramName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BatchStartYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BatchEndYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Backlogs)
                </td>
                <td>
                    @if (item.CurrentCGPA == null)
                    {
                        <span>N.A.</span>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.CurrentCGPA)
                    }
                </td>
            </tr>
        }

    </table>

    <hr />

    <div class="d-flex justify-content-between align-items-center mb-2">
        <h4>Student Qualifications</h4>
        <a href="@Url.Action("Index", "StudentQualifications", new { studentId = StudentId })" class="btn btn-info btn-sm">
            <i class="fa fa-cogs" aria-hidden="true"></i>
            Manage Qualifications
        </a>
    </div>

    <table class="table table-striped table-hover">
        <tr>
            <th>
                Qualification
            </th>
            <th>
                Percentage Scored
            </th>
            <th>
                Passing Year
            </th>
        </tr>

        @foreach (var item in Model.StudentQualifications)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.QualificationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Percentage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PassingYear)
                </td>
            </tr>
        }

    </table>
}
