@model IEnumerable<PlacementManagement.Web.ViewModels.StudentDetailViewModel>
@{
    ViewBag.Title = "Students";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

<table class="table table-responsive-md table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Student.StudentId)
        </th>
        <th>
            Full name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.RegistrationDate)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Student.StudentId.ToString(), "Details", new { studentId = item.Student.StudentId })
            </td>
            <td>
                @Html.DisplayName(item.Student.FirstName) @Html.DisplayName(item.Student.LastName)
            </td>
            <td>
                @item.Student.Email
            </td>
            <td>
                @Html.DisplayFor(model => item.Student.Gender)
            </td>
            <td>
                @Html.DisplayName(item.Student.PhoneNumber)
            </td>
            <td>
                @Html.DisplayName(item.Student.RegistrationDate.ToString())
            </td>
        </tr>
    }

</table>
