@model PlacementManagement.Web.ViewModels.StudentSkillViewModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h3>Are you sure you want to delete this Skill?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SkillName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SkillName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Experience)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Experience)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectsDone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectsDone)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.SkillId)
        @Html.HiddenFor(model => model.SkillName)

        <div class="form-actions no-color">
            <input type="submit" value="Delete Skill" class="btn btn-danger" />
        </div>
    }
</div>

<div>
    <i class="fa fa-chevron-circle-left mt-3" aria-hidden="true"></i>
    @Html.ActionLink("Back to List", "Index")
</div>