@model IEnumerable<PlacementManagement.Web.ViewModels.StudentSkillViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SkillName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Experience)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectsDone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SkillName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Experience)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectsDone)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { skillId = item.SkillId }, new { @class = "btn btn-sm btn-info" })
            @Html.ActionLink("Delete", "Delete", new { skillId = item.SkillId }, new { @class = "btn btn-sm btn-danger" })
        </td>
    </tr>
}

</table>
