@model PlacementManagement.Web.ViewModels.StudentDetailViewModel

@{
    ViewBag.Title = "Manage Student Programs";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";

    int? StudentId = null;
    if (Model != null)
    {
        StudentId = Model.Student.StudentId;
    }
}

@Html.Partial("_StudentSearchPartial", new ViewDataDictionary
{
    { "Title", ViewBag.Title },
    { "ActionUrl", "/StudentPrograms" },
    { "StudentId", StudentId },
    { "ErrorMessage", ViewBag.ErrorMessage }
})

@if (Model != null)
{
    <div class="row px-3">
        <div class="col-md-3 col-sm-6">
            <strong>Student Name</strong>
            <div class="text-muted">@Model.Student.FirstName @Model.Student.LastName</div>
        </div>
        <div class="col-md-3 col-sm-6">
            <strong>Email</strong>
            <div class="text-muted">@Model.Student.Email</div>
        </div>
        <div class="col-md-3 col-sm-6">
            <strong>Phone Number</strong>
            <div class="text-muted">@Model.Student.PhoneNumber</div>
        </div>
        <div class="col-md-3 col-sm-6">
            <strong>Registration Date</strong>
            <div class="text-muted">@Model.Student.RegistrationDate</div>
        </div>
    </div>

    <p>
        <a href=@Url.Action("Create", new { studentId = StudentId }) class="btn btn-success btn-sm float float-right mb-3">
            <i class="fa fa-plus" aria-hidden="true"></i> Add Program</a>
    </p>

    <table class="table table-striped table-hover">
        <tr>
            <th>
                Program Name
            </th>
            <th>
                Batch Start Year
            </th>
            <th>
                Batch End Year
            </th>
            <th>
                Backlogs
            </th>
            <th>
                Current CGPA
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.StudentPrograms)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProgramName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BatchStartYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BatchEndYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Backlogs)
                </td>
                <td>
                    @if (item.CurrentCGPA == null)
                    {
                        <span>N.A.</span>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.CurrentCGPA)
                    }
                </td>
                <td class="float-right">
                    <a href=@Url.Action("Edit", new { studentId = item.StudentId, programId = item.ProgramId })
                       class="btn btn-info btn-sm">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit
                    </a>
                    <a href=@Url.Action("Delete", new { studentId = item.StudentId, programId = item.ProgramId })
                       class="btn btn-danger btn-sm">
                        <i class="fa fa-trash-o" aria-hidden="true"></i> Delete
                    </a>
                </td>
            </tr>
        }

    </table>
}
