@model IEnumerable<Mizza.DataModels.MizzaSize>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MizzaSizeName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MizzaSizeName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MizzaSizeID }) |
                @Html.ActionLink("Details", "Details", new { id = item.MizzaSizeID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MizzaSizeID })
            </td>
        </tr>
    }

</table>

<nav>
    <ul class="pagination justify-content-end">

        @if (ViewBag.PrevPageNumber != null)
        {
            <li class="page-item">
                @Html.ActionLink("Previous", "Index", new { page = ViewBag.PrevPageNumber })
            </li>
        }
        else
        {
            <li class="page-item disabled">
                @Html.ActionLink("Previous", "Index")
            </li>
        }

        @*<li class="page-item"><a class="page-link" href="#">1</a></li>*@
        @*<li class="page-item"><a class="page-link" href="#">2</a></li>*@
        @*<li class="page-item"><a class="page-link" href="#">3</a></li>*@


        @if (ViewBag.NextPageNumber != null)
        {
            <li class="page-item">
                @Html.ActionLink("Next", "Index", new { page = ViewBag.NextPageNumber })
            </li>
        }
        else
        {
            <li class="page-item disabled">
                @Html.ActionLink("Next", "Index")
            </li>
        }
    </ul>
</nav>
