@model IEnumerable<PlacementManagement.Models.Student>

<div>
    <table id="studentTable" class="table table-striped table-hover w-100">
        <thead>
            <tr>
                <th>StudentId</th>
                <th>Name</th>
                <th>Email</th>
                <th>Gender</th>
                <th>Phone Number</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.StudentId.ToString(), "Details", "Student", new { studentId = item.StudentId }, null)
                    </td>
                    <td>@item.FirstName @item.LastName</td>
                    <td>@item.Email</td>
                    <td>@item.Gender</td>
                    <td>+91 @item.PhoneNumber</td>
                </tr>
            }
        </tbody>
    </table>

    <div class="d-flex justify-content-end">

        @if (ViewBag.PrevPage != null)
        {
            <button class="btn btn-secondary btn-sm" onclick="switchPage(@ViewBag.PrevPage)"><i class="fa fa-angle-left" aria-hidden="true"></i> Previous</button>
        }

        @if (ViewBag.NextPage != null)
        {
            <button class="btn btn-primary btn-sm ml-2" onclick="switchPage(@ViewBag.NextPage)">Next <i class="fa fa-angle-right" aria-hidden="true"></i></button>
        }
    </div>
</div>